.search-bar {
  width: 85%;
  border: none;
  outline: none;
  background-color: var(--secondary-dark);
}
.search-bar * {
  color: #000;
}

@media screen and (max-width: 900px) {
  .search-bar {
    width: 80%;
  }
}
